* {
    font-family: "Droid Sans";
}

.detail-container {
    margin-top: 10.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-book-cover {
    width: 65vw;
    max-width: 250px;
}

.detail-title,
.detail-author {
    text-align: center;
}

.detail-title {
    font-weight: bolder;
    margin-top: 3vh;
    font-size: 3.5vh;
}

.detail-author {
    margin-top: .5vh;
    font-size: 2.5vh;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 350px;
    margin-top: 1vh;
}

.add-review-modal-top {
    display: flex;
    justify-content: right;
}

.add-review-modal-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-modal-title-add {
    font-size: 6vw;
    margin-right: 3vw;
}

.add-review-modal-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-box {
    width: 90%;
}

.comment-box,
.star-rating,
.add-review-modal-bottom {
    margin-top: 2vh;
}

.delete-modal-title {
    font-size: 2em;    
}

.del-review-modal-middle {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    margin-top: 30vh;
}

.my-review {
    width: 70%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-review-title {
    color: #592202;
}

.my-review-text {
    font-style: italic;
}

.react-simple-star-rating {
    margin: 0;
    padding: 0;
}

.friends-who-lend {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.none-friends {
    margin-top: 2vh;
    text-align: center;
    width: 60%;
}