.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    position: relative;
    /* border: 1px solid red; */
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    width: 77%;
    max-width: 450px;
    /* border: 1px solid yellow; */
}

.form-one-field {
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 35px;
}

.feedback {
    margin: 0;
    padding: 0;
}

.login-button-container {
    display: flex;
    justify-content: center;
    width: 77%;
    border-bottom: 1px solid #592202;
    height: 72px;
    max-width: 450px;
}

.login-button {
    width: 120px;
    height: 40px;
    background: #F2A341;
    border-radius: 5px;
    color: #730217;
    border: none;
}

.register-button {    
    width: 120px;
    height: 40px;
    background: #8C6542;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
    color: white;
}