.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9vh;    
}

.search-title {    
    width: 65%;    
    text-align: center;
    color: #730217;
    font-size: 2.4vh;
    font-family: "Roboto";    
}

.search-book-container-height {
    height: 20vh;
    object-fit: fill;    
}

.search-book-cover {
    max-height: 20vh;
    width: 28.5vw;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}
